<p>
    <?php echo $cabecera ?>
</p>

<table border=1>
    <tr>
        <th>NOMBRE</th>
        <th>APELLIDOS 1</th>
        <th>APELLIDOS 2</th>
        <th>USUARIO</th>
        <th>IDENTIFICACION</th>
        <th>CARGO</th>
        <th>PROYECTO</th>
        <th>RESUTLADO</th>
    </tr>

    <?php foreach ($datos as $key => $value): ?>
    <tr>
        <td>
            <?php echo $value['nombres'] ?>
        </td>
        <td>
            <?php echo $value['apellidos'] ?>
        </td>
        <td>
            <?php echo $value['apellidos2'] ?>
        </td>
        <td>
            <?php echo $value['usuario'] ?>
        </td>
        <td>
            <?php echo $value['identificacion'] ?>
        </td>
        <td>
            <?php echo $value['cargo'] ?>
        </td>
        <td>
            <?php echo $value['proyecto_str'] ?>
        </td>
        <td>
            <?php echo $value['creado'] ?>
        </td>
    </tr>
    <?php endforeach?>
</table>