<p>
    <?php echo $cabecera ?>
</p>

<table border=1>
    <tr>      
        <th>NOMBRES</th>
        <th>IDENTIFICACION</th>
        <th>USUARIO</th>
        <th>RESULTADO</th>
        <th>ESTADO</th>
    </tr>

    <?php foreach ($datos as $key => $value): ?>
    <tr>
        <td>
            <?php echo $value['nombres'] ?>
            <?php echo $value['apellido1'] ?>
            <?php echo $value['apellido2'] ?>
        </td>
        <td>
            <?php echo $value['cedula'] ?>
        </td>
        <td>
            <?php echo $value['correo'] ?>
        </td>
        <td>
            <?php echo $value['resultado'] ?>
        </td>
        <td>
            <?php echo $value['resultado_planta'] ?>
        </td>
    </tr>
    <?php endforeach?>
</table>